<section id="projects" class="section-bottom">
  <div class="container">
    <div class="row py-7">
     
            <div class="col-lg-6 col-md-12 col-sm-12 ">
                    <div class="mapouter"><div class="gmap_canvas"><iframe width="527" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=uosiedle%202%20Pu%C5%82ku%20Lotniczego%201e%2FU5&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                    <style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 ">
                        <h2>Kontakt</h2>
                        <div class="top-bar-left text-black"><i class="fa fa-map-marker"></i><span class="ml-2 span-ml-2">osiedle 2 Pułku Lotniczego 1e/U5</span></div>
                       <div class="top-bar-left text-black padding-left-contact"><span class="ml-2 span-ml-2">31-867 Kraków</span></div>
                       <div class="top-bar-left text-black padding-left-contact padding-bottom-contact"><span class="ml-2 span-ml-2">(Czyżyny)</span></div>

                        <div class="top-bar-left text-black padding-bottom-contact"><i class="fa fa-envelope"></i><span class="ml-2 span-ml-2">info@fizjo-progress.pl</span></div>
                        <div class="top-bar-left text-black padding-bottom-contact"><i class="fa fa-phone"></i><span class="ml-2 span-ml-2">999999999</span></div>
                    
                    </div>
     
    </div>
  </div>
</section>
