<section id="projects" class="section-bottom">
    <div class="container">
      <div class="row py-7">
        <div class="col-lg-7 col-md-12 col-sm-12 ">
          <div class="single-project">
            <img
              src="https://image.freepik.com/darmowe-zdjecie/lekarka-w-jednolitej-pozyci-na-bielu_1157-31022.jpg"
              alt="" class="img-fluid">
  
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ">
          <div class="project-content-block">
            <h4>mgr Natalia Szewczyk </h4>
            <h2>More than just service your products...</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="projects" class="section-bottom">
    <div class="container">
      <div class="row py-7">
        <div class="col-lg-7 col-md-12 col-sm-12 ">
          <div class="single-project">
            <img
              src="https://img.freepik.com/darmowe-zdjecie/pewny-siebie-mlody-czlowiek_1098-20868.jpg?size=626&ext=jpg"
              alt="" class="img-fluid">
  
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 ">
          <div class="project-content-block">
            <h4>mgr Justyna Szcześniak </h4>
            <h2>More than just service your products...</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>