<!-- <section class="banner-area py-7">

  <div class="container">
    <div class="row  align-items-center">
      <div class="col-md-12 col-lg-7 text-center text-lg-left">
        <div class="main-banner">
          
          <h1 class="display-4 mb-4 font-weight-normal">
            Ortopedia i Traumatologia
          </h1>

         
          <p class="lead mb-4">
            Nasi ortopedzi i traumatolodzy oferują pełny zakres poradnictwa w zakresie diagnozowania i leczenia schorzeń
            narządu ruchu, między innnymi:

            stany pourazowe stawów, mięśni i więzadeł: skręcenia, złamania, naciągnięcia, naderwania i zerwania,
            podwichnięcia, itp.
            zmianach zwyrodnieniowych stawów i tkanek miękkich
            konsultacjach przed- i pooperacyjnych
            schorzenia stawów obwodowych, kręgosłupa i miednicy
            Dodatkowo w zespole mamy specjalistę od podologii ortopedycznej - Tomasz Łopatka

            dysfunkcje i schorzenia stóp
            projektowanie i wykonywanie wkładek ortopedycznych
            zespół stopy cukrzycowej
          </p>

      
        </div>

      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <div class="banner-img-block">
          <img
            src="https://image.freepik.com/darmowe-zdjecie/szczegol-reki-masuje-ludzkiego-lydkowego-miesien_155003-2723.jpg"
            alt="banner-img" class="img-fluid img-fluid-shape">
        </div>
      </div>
    </div>
  </div>
</section> -->
<section id="projects" class="section-bottom">
  <div class="container">
    <div class="row py-7">
      <div class="col-lg-7 col-md-12 col-sm-12 ">
        <div class="single-project">
          <img
            src="https://image.freepik.com/darmowe-zdjecie/szczegol-reki-masuje-ludzkiego-lydkowego-miesien_155003-2723.jpg"
            alt="" class="img-fluid">

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 ">
        <div class="project-content-block">
          <h4>Kim jesteśmy, co robimy?</h4>
          <h2>More than just service your products...</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section" id="process">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-8 col-lg-6 text-center">

                    <!-- Heading -->
                    <h2 class="section-title mb-2">
                        Nasze Zajęcia
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5">
                        Rapoo can be used to create anything from a small marketing page to a sophisticated website.
                    </p>

                </div>
            </div> <!-- / .row -->

            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="https://image.freepik.com/darmowe-zdjecie/profesjonalny-fizjoterapeuta-zenski-masaz-ramion-do-kobiety-blondynka_1139-1113.jpg" alt="" class="img-fluid">

                        <h3>Rehabilitacja</h3>
                        <p>Praesent eget lorem pharetra, varius turpis eu, cursus orci.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="https://image.freepik.com/darmowe-zdjecie/medyczne-sprawdzenie-w-nogach-w-centrum-fizjoterapii_1139-1111.jpg" alt="" class="img-fluid">

                        <h3>Rehabilitacja</h3>
                        <p>Praesent eget lorem pharetra, varius turpis eu, cursus orci.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-md-6">
                    <div class="process-block">
                        <img src="https://image.freepik.com/darmowe-zdjecie/mezczyzna-fizjoterapeuty-cwiczenia-z-zabiegiem-na-hantle-o-ramieniu-i-ramieniu_18497-1237.jpg" alt="" class="img-fluid">

                        <h3>Fizjoterapia</h3>
                        <p>Praesent eget lorem pharetra, varius turpis eu, cursus orci.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section id="work-wrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h1>Maecenas metus risus, scelerisque ut nibh in, fermentum ornare erat.</h1>
                    </div>
                </div>
                <div class="col-lg-6">
                    <p class="lead">Praesent eget lorem pharetra, varius turpis eu, cursus orci. Duis ex arcu, varius et vehicula sed, porttitor ut mauris. Aliquam elementum leo ac venenatis volutpat. Maecenas metus risus, scelerisque ut nibh in, fermentum ornare erat.</p>
                </div>
            </div>
        </div>
    </section>
