<section class="banner-area py-7">
    <!-- Content -->
    <div class="container">
        <div class="row  align-items-center">
<div class="col-md-12 col-lg-7 text-center text-lg-left">
    <div class="main-banner">
        <!-- Heading -->
        <h1 class="display-4 mb-4 font-weight-normal">
            Ortopedia i Traumatologia
        </h1>

        <!-- Subheading -->
        <p class="lead mb-4">
            Nasi ortopedzi i traumatolodzy oferują pełny zakres poradnictwa w zakresie diagnozowania i leczenia schorzeń narządu ruchu, między innnymi:

            stany pourazowe stawów, mięśni i więzadeł: skręcenia, złamania, naciągnięcia, naderwania i zerwania, podwichnięcia, itp.
            zmianach zwyrodnieniowych stawów i tkanek miękkich
            konsultacjach przed- i pooperacyjnych
            schorzenia stawów obwodowych, kręgosłupa i miednicy
            Dodatkowo w zespole mamy specjalistę od podologii ortopedycznej - Tomasz Łopatka
            
            dysfunkcje i schorzenia stóp
            projektowanie i wykonywanie wkładek ortopedycznych
            zespół stopy cukrzycowej
        </p>

        <!-- Button -->
    </div>
   
</div>
<div class="col-lg-5 d-none d-lg-block">
    <div class="banner-img-block">
        <img src="https://image.freepik.com/darmowe-zdjecie/szczegol-reki-masuje-ludzkiego-lydkowego-miesien_155003-2723.jpg" alt="banner-img" class="img-fluid img-fluid-shape">
    </div>
</div>
</div>
</div>
</section>